footer.footer
    .footer__wrap
        .footer__logo BEANZSOFT
        .footer__item
            a 개인정보처리방침
        .footer__item
            a 프로젝트 의뢰
        .footer__copy &copy #{new Date().getFullYear()} #{siteName}