@font-face {
  font-family: "GyeonggiTitleM";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GyeonggiTitleM.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@import url("https://fonts.googleapis.com/css?family=Nanum+Gothic");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR");
html,
body {
  height: 100%;
}
body {
  background-color: #fff;
}

main {
  padding-top: 79px;
  width: 100%;
  margin: 0 auto;
  min-height: calc(100vh - 100px);
  text-align: center;
  font-family: "Noto Sans KR", sans-serif;
}

.subpage__name {
  padding-top: 120px;
  margin-bottom: 15px;
  font-size: 0.9em;
  color: #a7a7a7;
  letter-spacing: 0.1em;
  font-weight: normal;
}

.subpage__title {
  font-size: 2em;
  margin-bottom: 80px;
  font-weight: bold;
}

.subpage__title::after {
  content: "";
  width: 60px;
  height: 1px;
  background-color: #000000;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
}
