extends layouts/main

block content
    .contact__map-info
        h2 Beanzsoft
        ul
            li.contact__map-text
                h3 찾아오시는 길
                p 대구광역시 남구 현충로170(대명동) 천마스퀘어 710호
            li.contact__map-text
                h3 대표전화
                p 010-6530-0382
            li.contact__map-text
                h3 이메일
                p junteken@gmail.com