extends layouts/main
include mixins/historyBlock

block content
    .history
        each history in histories
            +historyBlock({
                id:history.id,
                date:history.date,
                title:history.title,
                description:history.description,
                fileUrl:`/${history.fileUrl}`         
            })
        a(href=`/about${routes.upload}`) 업로드