extends layouts/main

block content
    main.content
        .beontteut__content-wrap
            .subpage__topImg.outsourceTop
            .subpage__itemImg
                img(src="/images/business/outsource_phone_finalget.jpg")
            .subpage__content
                h5.subpage__content-type 외주개발
                h4.subpage__content-title 파이널겟
                ul.subpage__info
                    li
                        h2.subpage__info-title Client
                        p.subpabe__info-text 모들
                    li
                        h2.subpage__info-title Release Date
                        p.subpage__info-text 2019.02.21
                    li
                        h2.subpage__info-title Type
                        p.subpage__info-text Android
                .subpagE__content-playstore
                    a(herf="https://play.google.com/store/apps/details?id=com.beanzsoft.outsourcing.finalget&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1")
                        img(alt="다운로드 하기 Google Play" src="https://play.google.com/intl/ko/badges/images/generic/ko_badge_web_generic.png")
                p.subpage__content-explain 파이널겟(FINAL GET)은 음식 마감할인 플랫폼입니다. 다양한 음식을 저렴하게 이용할 수 있으며 재고를 남기지 않아 환경보호에 도움을 주는 서비스를 운영합니다.<br>'파이널겟'의 안드로이드용 앱을 개발했습니다.
    