extends layouts/main

block content
    main.content
        .vision__content-wrap
            h5.subpage__name vision
            h3.subpage__title Deep learning으로
                span 세상을 바꾸자
            ul.vision__content
                li.vision__content-item
                    span success
                    p 고객의 성공을 </br> 먼저 생각하는 기업
                li.vision__content-item
                    span professional
                    p 인재가 최고의 </br> 자산인 기업
                li.vision__content-item
                    span contribution
                    p 정직하고 </br> 도덕적인 기업