extends layouts/main

block content
    .subpage__wrap
        .subpage__topImg.beontteutTop
        .subpage__itemImg
            img(src="/images/business/beontteut_phone.png")
        .subpage__content
            h5.subpage__content-type 자체개발
            h4.subpage__content-title 번뜻
            p.subpage__info 간편한 단어 검색 앱
            .subpage__content-playstore
                a(href="https://play.google.com/store/apps/details?id=com.beanzsoft.aipen.aipen&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1")
                    img(alt="다운로드하기 Google Play" src="https://play.google.com/intl/ko/badges/images/generic/ko_badge_web_generic.png")
            p.subpage__content-explain 단어를 촬영하면 바로 뜻을 찾을 수 있는 사전앱입니다.</br>단어를 타이핑하거나 화면을 문지르는 추가 작업이 필요 없어 간편합니다.</br>찾고자 하는 단어를 앱 화면에 표시된 과녁에 맞추고 카메라 버튼을 누르면 되는 간단한 방식으로 단어 검색시간을 확연히 줄일 수 있습니다.