extends layouts/main

block content
    .contact__content-wrap
        h5.subpage__name contact
        h3.subpage__title 오시는 길
        .contact__content
            .contact__map
                div(id="daumRoughmapContainer1551073772558", class="root_daum_roughmap root_daum_roughmap_landing", style="width:100%; border:0; padding:0; margin:0;")
                script(charset="UTF-8" class="daum_roughmap_loader_script" src="http://dmaps.daum.net/map_js_init/roughmapLoader.js")
 
            .contact__map-info
                h2 Beanzsoft
                ul
                    li.contact__map-text
                        h3 찾아오시는 길
                        p 대구광역시 남구 현충로170(대명동) 천마스퀘어 710호
                    li.contact__map-text
                        h3 대표전화
                        p 010-6530-0382
                    li.contact__map-text
                        h3 이메일
                        p junteken@gmail.com