extends layouts/main

block content
    .swiper-container
        .swiper-wrapper
            .swiper-slide.mainSlide
                p Deep Learning으로</br>달라질 새로운 세상을 연구합니다.
            .swiper-slide.mainSlide
                p 더욱 편리해질 세상을<br>기대합니다.
        .swiper-pagination
        .swiper-button-next
        .swiper-button-prev