.history__content-wrap {
  max-width: 1000px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
}

.history__container {
  display: grid;
  text-align: left;
  margin-bottom: 100px;
}

.history__box {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.history__box-date {
  grid-row: span 2;
  font-weight: bold;
  font-size: 18px;
}

.history__item {
  grid-column: span 5;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 20px 0;
  border-top: 1px solid #e0e0e0;
}

.history__item:nth-of-type(1) {
  border-top: 2px solid #3c3c3c;
}

.history__text {
  grid-column: span 3;
}

.history__text-title {
  margin-bottom: 15px;
  font-size: 1.1em;
  font-weight: 500;
}

.history__text-info {
  font-weight: 300;
  font-family: "Nanum Gothic";
  line-height: 22px;
}

.history__item img {
  grid-column: 4;
  width: 100%;
}

.uploadBtn,
.logoutBtn {
  width: 150px;
  height: 40px;
  line-height: 40px;
  display: block;
  background-color: #373737;
  color: #ffffff;
  margin: 5px auto;
  border-radius: 6px;
  text-align: center;
}
